@font-face {
  font-family: "Arimo";
  src: url("/fonts/Arimo-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Arimo";
  font-weight: bold;
  src: url("/fonts/Arimo-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Arimo";
  font-style: italic;
  src: url("/fonts/Arimo-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Arimo";
  font-weight: bold;
  font-style: italic;
  src: url("/fonts/Arimo-BoldItalic.ttf") format("truetype");
}
