/* 
*
* Colors
*
*/

$theme-color-blue-5: #03045e;
$theme-color-blue-4: #0077b6;
$theme-color-blue-3: #00b4d8;
$theme-color-blue-2: #90e0ef;
$theme-color-blue-1: #caf0f8;
$theme-color-blue-0: #dff4f8;

$theme-color-white-5: #cacaca;
$theme-color-white-4: #dadada;
$theme-color-white-3: #eaeaea;
$theme-color-white-2: #fafafa;
$theme-color-white-1: #ffffff;

$theme-color-black-5: #000;
$theme-color-black-4: #111;
$theme-color-black-3: #222;
$theme-color-black-2: #333;
$theme-color-black-1: #444;
$theme-color-black-0: #555;

/*
*
* Breakpoints
*
*/

@mixin breakpoint-phone {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin breakpoint-tablet-vertical {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin breakpoint-tablet-horizontal {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin breakpoint-desktop {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin breakpoint-desktop-large {
  @media (min-width: 1800px) {
    @content;
  }
}
